* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  min-width: 100vw;
  min-height: 100wh;
}

$primary-color: #4fd1c5;
$secondary-color: white;

.main-content {
  text-align: center;
  min-height: calc(100vh - 74.5px - 41.5px);
}

/* footer */
.footer {
  margin-left: 266px;
  height: 18px;
  position: flow;
  right: 0;
  z-index: 5;
  text-align: start;
  padding: 23px 31px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  color: #a0aec0;

  &__description {
    &__name {
      color: $primary-color;
      font-weight: 500;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    gap: 44px;
    &__change {
      color: inherit;
      &:hover {
        color: $primary-color;
      }
    }
  }
}
